<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>shmopinterestfollowbutton</name>
            <displayName><![CDATA[Pinterest Follow Button by Shopmods]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[Adds a block with Pinterest Follow Button.]]></description>
            <author><![CDATA[Shopmods]]></author>
            <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Are you sure you want to delete Pinterest Follow Button by Shopmods?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>